examples/example.json
[
  {
    "id": "fac7e2cd3fa24b5c",
    "type": "group",
    "z": "01b0a9aca17246f3",
    "name": "Add basic timeline pin 1 hour in future",
    "style": {
      "label": true
    },
    "nodes": [
      "c1460b7f25bc5f74",
      "983dd7c84dda8673",
      "49a7fc32dee16d02",
      "3640e4ac216f5608",
      "9b3b5f43620e4cf5",
      "5c29bdc37973d3f0"
    ],
    "x": 234,
    "y": 139,
    "w": 852,
    "h": 122
  },
  {
    "id": "c1460b7f25bc5f74",
    "type": "pebble-timeline-add",
    "z": "01b0a9aca17246f3",
    "g": "fac7e2cd3fa24b5c",
    "name": "",
    "config": "c94cbbf4395a9abe",
    "apiUrl": "null",
    "apiUrlType": "jsonata",
    "token": "null",
    "tokenType": "jsonata",
    "pinId": "payload.id",
    "pinIdType": "msg",
    "time": "payload.time",
    "timeType": "msg",
    "duration": "payload.duration",
    "durationType": "msg",
    "layoutType": "genericPin",
    "title": "topic",
    "titleType": "msg",
    "subtitle": "payload.subtitle",
    "subtitleType": "msg",
    "body": "payload.body",
    "bodyType": "msg",
    "tinyIcon": "payload.tinyIcon",
    "tinyIconType": "msg",
    "smallIcon": "payload.smallIcon",
    "smallIconType": "msg",
    "largeIcon": "payload.largeIcon",
    "largeIconType": "msg",
    "primaryColor": "payload.primaryColor",
    "primaryColorType": "msg",
    "secondaryColor": "payload.secondaryColor",
    "secondaryColorType": "msg",
    "backgroundColor": "payload.backgroundColor",
    "backgroundColorType": "msg",
    "createNotification": false,
    "updateNotification": false,
    "headings": "null",
    "headingsType": "jsonata",
    "paragraphs": "null",
    "paragraphsType": "jsonata",
    "lastUpdated": "null",
    "lastUpdatedType": "jsonata",
    "createNotificationTitle": "payload.createNotification.title",
    "createNotificationTitleType": "msg",
    "createNotificationBody": "payload.createNotification.body",
    "createNotificationBodyType": "msg",
    "createNotificationTinyIcon": "payload.createNotification.tinyIcon",
    "createNotificationTinyIconType": "msg",
    "updateNotificationTime": "payload.updateNotification.time",
    "updateNotificationTimeType": "msg",
    "updateNotificationTitle": "payload.updateNotification.title",
    "updateNotificationTitleType": "msg",
    "updateNotificationBody": "payload.updateNotification.body",
    "updateNotificationBodyType": "msg",
    "updateNotificationTinyIcon": "payload.updateNotification.tinyIcon",
    "updateNotificationTinyIconType": "msg",
    "locationName": "payload.locationName",
    "locationNameType": "msg",
    "shortTitle": "payload.shortTitle",
    "shortTitleType": "msg",
    "shortSubtitle": "payload.shortSubtitle",
    "shortSubtitleType": "msg",
    "displayTime": "pin",
    "rankAway": "payload.rankAway",
    "rankAwayType": "msg",
    "rankHome": "payload.rankHome",
    "rankHomeType": "msg",
    "nameAway": "payload.nameAway",
    "nameAwayType": "msg",
    "nameHome": "payload.nameHome",
    "nameHomeType": "msg",
    "recordAway": "payload.recordAway",
    "recordAwayType": "msg",
    "recordHome": "payload.recordHome",
    "recordHomeType": "msg",
    "scoreAway": "payload.scoreAway",
    "scoreAwayType": "msg",
    "scoreHome": "payload.scoreHome",
    "scoreHomeType": "msg",
    "sportsGameState": "pre-game",
    "reminders": false,
    "reminderData": "payload.reminders",
    "reminderDataType": "msg",
    "actions": false,
    "actionData": "payload.actions",
    "actionDataType": "msg",
    "x": 790,
    "y": 180,
    "wires": [
      [
        "3640e4ac216f5608"
      ]
    ]
  },
  {
    "id": "983dd7c84dda8673",
    "type": "inject",
    "z": "01b0a9aca17246f3",
    "g": "fac7e2cd3fa24b5c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "payload"
      },
      {
        "p": "payload.id",
        "v": "",
        "vt": "date"
      },
      {
        "p": "payload.body",
        "v": "Test message body",
        "vt": "str"
      },
      {
        "p": "payload.tinyIcon",
        "v": "system://images/NOTIFICATION_GENERIC",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Hey buddy!",
    "payload": "{}",
    "payloadType": "json",
    "x": 350,
    "y": 180,
    "wires": [
      [
        "49a7fc32dee16d02"
      ]
    ]
  },
  {
    "id": "49a7fc32dee16d02",
    "type": "function",
    "z": "01b0a9aca17246f3",
    "g": "fac7e2cd3fa24b5c",
    "name": "30 mins in future",
    "func": "\nconst futureTime = new Date();\nfutureTime.setHours(futureTime.getHours() + 1);\n\nmsg.payload.time = futureTime.toISOString();\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 180,
    "wires": [
      [
        "c1460b7f25bc5f74"
      ]
    ]
  },
  {
    "id": "3640e4ac216f5608",
    "type": "debug",
    "z": "01b0a9aca17246f3",
    "g": "fac7e2cd3fa24b5c",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 180,
    "wires": []
  },
  {
    "id": "9b3b5f43620e4cf5",
    "type": "catch",
    "z": "01b0a9aca17246f3",
    "g": "fac7e2cd3fa24b5c",
    "name": "",
    "scope": [
      "c1460b7f25bc5f74"
    ],
    "uncaught": false,
    "x": 830,
    "y": 220,
    "wires": [
      [
        "5c29bdc37973d3f0"
      ]
    ]
  },
  {
    "id": "5c29bdc37973d3f0",
    "type": "debug",
    "z": "01b0a9aca17246f3",
    "g": "fac7e2cd3fa24b5c",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 980,
    "y": 220,
    "wires": []
  },
  {
    "id": "c94cbbf4395a9abe",
    "type": "pebble-timeline-config",
    "name": "Rebble - Home Assistant",
    "apiUrl": "https://timeline-api.rebble.io"
  },
  {
    "id": "768cfc3cc4b69809",
    "type": "group",
    "z": "01b0a9aca17246f3",
    "name": "List timeline pins between two dates",
    "style": {
      "label": true
    },
    "nodes": [
      "278520b03bca0675",
      "b25eb2fafa9c4839",
      "e8d4424760cea039"
    ],
    "x": 234,
    "y": 299,
    "w": 612,
    "h": 82
  },
  {
    "id": "278520b03bca0675",
    "type": "pebble-timeline-list",
    "z": "01b0a9aca17246f3",
    "g": "768cfc3cc4b69809",
    "name": "",
    "config": "c94cbbf4395a9abe",
    "apiUrl": "null",
    "apiUrlType": "jsonata",
    "token": "null",
    "tokenType": "jsonata",
    "startTime": "payload.startTime",
    "startTimeType": "msg",
    "endTime": "payload.endTime",
    "endTimeType": "msg",
    "x": 530,
    "y": 340,
    "wires": [
      [
        "e8d4424760cea039"
      ]
    ]
  },
  {
    "id": "b25eb2fafa9c4839",
    "type": "inject",
    "z": "01b0a9aca17246f3",
    "g": "768cfc3cc4b69809",
    "name": "",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 330,
    "y": 340,
    "wires": [
      [
        "278520b03bca0675"
      ]
    ]
  },
  {
    "id": "e8d4424760cea039",
    "type": "debug",
    "z": "01b0a9aca17246f3",
    "g": "768cfc3cc4b69809",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 340,
    "wires": []
  },
  {
    "id": "12155e565c317627",
    "type": "group",
    "z": "01b0a9aca17246f3",
    "name": "Add a pin, wait 5 seconds, then delete it",
    "style": {
      "label": true
    },
    "nodes": [
      "b9fddb67e699a9f1",
      "8608dae8af0df939",
      "b6a976f5b0ccc2da",
      "dec794e031149a0b",
      "41033d14e0113dc9",
      "412e2507beb7a53d",
      "6fccd60cc41bb38d"
    ],
    "x": 234,
    "y": 419,
    "w": 872,
    "h": 142
  },
  {
    "id": "b9fddb67e699a9f1",
    "type": "pebble-timeline-add",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "",
    "config": "c94cbbf4395a9abe",
    "apiUrl": "null",
    "apiUrlType": "jsonata",
    "token": "null",
    "tokenType": "jsonata",
    "pinId": "payload.id",
    "pinIdType": "msg",
    "time": "payload.time",
    "timeType": "msg",
    "duration": "payload.duration",
    "durationType": "msg",
    "layoutType": "genericPin",
    "title": "topic",
    "titleType": "msg",
    "subtitle": "payload.subtitle",
    "subtitleType": "msg",
    "body": "payload.body",
    "bodyType": "msg",
    "tinyIcon": "payload.tinyIcon",
    "tinyIconType": "msg",
    "smallIcon": "payload.smallIcon",
    "smallIconType": "msg",
    "largeIcon": "payload.largeIcon",
    "largeIconType": "msg",
    "primaryColor": "payload.primaryColor",
    "primaryColorType": "msg",
    "secondaryColor": "payload.secondaryColor",
    "secondaryColorType": "msg",
    "backgroundColor": "payload.backgroundColor",
    "backgroundColorType": "msg",
    "createNotification": false,
    "updateNotification": false,
    "headings": "null",
    "headingsType": "jsonata",
    "paragraphs": "null",
    "paragraphsType": "jsonata",
    "lastUpdated": "null",
    "lastUpdatedType": "jsonata",
    "createNotificationTitle": "payload.createNotification.title",
    "createNotificationTitleType": "msg",
    "createNotificationBody": "payload.createNotification.body",
    "createNotificationBodyType": "msg",
    "createNotificationTinyIcon": "payload.createNotification.tinyIcon",
    "createNotificationTinyIconType": "msg",
    "updateNotificationTime": "payload.updateNotification.time",
    "updateNotificationTimeType": "msg",
    "updateNotificationTitle": "payload.updateNotification.title",
    "updateNotificationTitleType": "msg",
    "updateNotificationBody": "payload.updateNotification.body",
    "updateNotificationBodyType": "msg",
    "updateNotificationTinyIcon": "payload.updateNotification.tinyIcon",
    "updateNotificationTinyIconType": "msg",
    "locationName": "payload.locationName",
    "locationNameType": "msg",
    "shortTitle": "payload.shortTitle",
    "shortTitleType": "msg",
    "shortSubtitle": "payload.shortSubtitle",
    "shortSubtitleType": "msg",
    "displayTime": "pin",
    "rankAway": "payload.rankAway",
    "rankAwayType": "msg",
    "rankHome": "payload.rankHome",
    "rankHomeType": "msg",
    "nameAway": "payload.nameAway",
    "nameAwayType": "msg",
    "nameHome": "payload.nameHome",
    "nameHomeType": "msg",
    "recordAway": "payload.recordAway",
    "recordAwayType": "msg",
    "recordHome": "payload.recordHome",
    "recordHomeType": "msg",
    "scoreAway": "payload.scoreAway",
    "scoreAwayType": "msg",
    "scoreHome": "payload.scoreHome",
    "scoreHomeType": "msg",
    "sportsGameState": "pre-game",
    "reminders": false,
    "reminderData": "payload.reminders",
    "reminderDataType": "msg",
    "actions": false,
    "actionData": "payload.actions",
    "actionDataType": "msg",
    "x": 750,
    "y": 460,
    "wires": [
      [
        "41033d14e0113dc9",
        "6fccd60cc41bb38d"
      ]
    ]
  },
  {
    "id": "8608dae8af0df939",
    "type": "inject",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "payload"
      },
      {
        "p": "payload.id",
        "v": "",
        "vt": "date"
      },
      {
        "p": "payload.body",
        "v": "This is just a pin deletion test. You can safely ignore me.",
        "vt": "str"
      },
      {
        "p": "payload.tinyIcon",
        "v": "system://images/NOTIFICATION_GENERIC",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "Delete me!",
    "payload": "{}",
    "payloadType": "json",
    "x": 350,
    "y": 460,
    "wires": [
      [
        "b6a976f5b0ccc2da"
      ]
    ]
  },
  {
    "id": "b6a976f5b0ccc2da",
    "type": "function",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "30 mins in future",
    "func": "\nconst futureTime = new Date();\nfutureTime.setHours(futureTime.getHours() + 1);\n\nmsg.payload.time = futureTime.toISOString();\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 460,
    "wires": [
      [
        "b9fddb67e699a9f1"
      ]
    ]
  },
  {
    "id": "dec794e031149a0b",
    "type": "pebble-timeline-delete",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "",
    "config": "c94cbbf4395a9abe",
    "apiUrl": "null",
    "apiUrlType": "jsonata",
    "token": "null",
    "tokenType": "jsonata",
    "pinId": "payload.pin.id",
    "pinIdType": "msg",
    "x": 750,
    "y": 520,
    "wires": [
      [
        "412e2507beb7a53d"
      ]
    ]
  },
  {
    "id": "41033d14e0113dc9",
    "type": "delay",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 560,
    "y": 520,
    "wires": [
      [
        "dec794e031149a0b"
      ]
    ]
  },
  {
    "id": "412e2507beb7a53d",
    "type": "debug",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "Debug pin deletion",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 520,
    "wires": []
  },
  {
    "id": "6fccd60cc41bb38d",
    "type": "debug",
    "z": "01b0a9aca17246f3",
    "g": "12155e565c317627",
    "name": "Debug pin added",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 460,
    "wires": []
  }
]